<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.master.cs" Inherits="Webstop.Masters.Default" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title><%= Page.Title %></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
  <asp:ContentPlaceHolder ID="Content" runat="server">
  </asp:ContentPlaceHolder>
  <script src="wwwroot/js/Tools.js"></script>
</body>
</html>
