<%@ Master Language="C#" MasterPageFile="~/Masters/Dashboard.master" AutoEventWireup="true" CodeBehind="Student.master.cs" Inherits="Webstop.Masters.Student" %>
<asp:Content ContentPlaceHolderID="head" runat="server">
  <asp:ContentPlaceHolder ID="head" runat="server">

  </asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ContentPlaceHolderID="Content" runat="server">
  <asp:ContentPlaceHolder ID="Content" runat="server">

  </asp:ContentPlaceHolder>
</asp:Content>