@import '../../App_Themes/Dark/colors.css';
@import '../../App_Themes/Light/colors.css';

content {
  justify-content: start;

  p:first-child {
    font-size: 2rem;
    margin: 1em;
  }

  #container {
    margin: 1em;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 10px;
    position: relative;
    width: fit-content;
    max-height: 90vh;
    overflow: auto;
  }

  table {
    width: 100%;
  }

  tr {
    display: block;
    width: 100%;
  }

  td {
    padding: 10px 20px;
    width: fit-content;
  }

  .sticky {
    background: linear-gradient(to right, var(--main), var(--hover));
    display: flex;
    flex-direction: row;
    top: 0;
    position: sticky;

    div {
      color: var(--text);
      font-size: 17px;
      padding: 10px 20px;
      width: 140px;

      &:nth-last-child(2) {
        width: 120px;
      }

      &:nth-last-child(1) {
        width: 170px;
      }
    }
  }

  input {
    padding: 5px;
    color: var(--text);
    border-radius: 5px;
    background-color: var(--main);

    &[type=search],
    &[type=text],
    &[type=datetime] {
      border: none;
      outline: none;
      width: 100px;
    }

    &[type=number] {
      border: none;
      outline: none;
      width: 70px;
    }

    &[type=button],
    &[type=submit] {
      margin: 5px;
    }
  }
}
