@import '../../App_Themes/Dark/colors.css';
@import '../../App_Themes/Light/colors.css';
content {
  justify-content: start;
  align-items: center;
  padding-top: 1em;
}
content label {
  visibility: hidden;
  position: absolute;
  color: red;
  font-size: 10px;
  text-align: start;
  align-self: start;
}
content input[type=search] {
  width: 50vw;
  padding: 15px 20px;
  font-size: 2rem;
  background-color: var(--main);
  color: var(--secondary);
  border: 2px solid var(--secondary);
  border-radius: 50px;
  margin-bottom: 0.5em;
}
content input[type=text] {
  background-color: var(--main);
  color: var(--text);
  width: 250px;
  font-size: 1rem;
  margin: 5px;
}
content div {
  background-color: var(--main);
  position: relative;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0.5em;
  border-radius: 20px;
  width: 45vw;
  height: 50px;
  padding-left: 1em;
  display: flex;
  justify-content: start;
  align-items: center;
}
content div i:not(.fa-star) {
  position: absolute;
  color: var(--secondary);
  right: 20px;
}
content div i.fa-star {
  margin: 1px;
  color: rgb(189, 173, 0);
}
content div p {
  font-size: 1.5rem;
  margin: 0 1em 0 0.5em;
}
content div p d {
  color: var(--secondary);
}
content a {
  color: var(--secondary);
  font-style: italic;
  cursor: pointer;
}
